.background{
	background-image: url('http://www.designphase.net/sites/default/files/freelance.jpg');
	background-repeat: no-repeat;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
