.background{
	background-image: url('https://4.bp.blogspot.com/-ZHJYUxwuU2w/Wvuj6InoIiI/AAAAAAAACrU/o63J7Gqh1FkEJvJIE3SH_9Gj4kGklwhLgCEwYBhgL/s1600/abcda.jpg');
	background-repeat: no-repeat;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.button-text{
    font-weight: bold;
    font-size: 18px;
}
